.weather-app {
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    border-radius: 25px;
    border-style: dashed;

}

ul {
    list-style: none;
}

.current {
    text-align: left;
}

h3 {
    text-align: center;
    border-color: black;
}

.body {
    text-align: left;
}

.weather {
    position: relative;
    top: -80px;
    left: 500px;
}

form {
    text-align: center;
}

#celsius-link {
    text-decoration: none;
}

#fahrenheit-link {
    text-decoration: none;
}

.text-muted {
    font-size: xx-small;
}

.btn-light {
    display: block;
    margin: auto;

    color: black;
    background-color: white;
}

.location:hover {
    cursor: pointer;
}

.col-sm {
    text-align: center;
}

.five {
    text-align: center;
}

.overview {
    text-align: center;
}

li::first-letter {
    text-transform: capitalize;
}

.forecast {
    text-align: center;
    display: block;
    margin: auto;
}

.footer {
    text-align: center;
}

.card {
    border-style: none;
}