.weather-app {
    max-width: 700px;
    margin: 30px auto;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    border-radius: 25px;
    background: radial-gradient(rgb(252, 208, 115) 0%, rgb(139, 102, 241) 100%);
}

#overview {
    text-align: center;
}

#city-input {
    border: none;
    border-radius: 10px;
}

#search {
    border: none;
    color: black;
    background: none;
}

#search:hover {
    background-color: rgb(231, 189, 141);
    border-radius: 5px;
}

ul {
    list-style: none;
}

form {
    text-align: center;
}

#temp {
    font-size: 20px;
}

#humidity {
    font-size: 20px;
}

#wind {
    font-size: 20px;
}

#celsius-link {
    text-decoration: none;
}

#fahrenheit-link {
    text-decoration: none;
}

.btn-light {
    display: block;
    margin: auto;
    color: black;
    background: none;
    border: none;
}

.btn-light:hover {
    background-color: rgb(231, 189, 141);
}

.col-sm {
    text-align: center;

}

.five {
    text-align: center;
}

.overview {
    text-align: center;
}

li::first-letter {
    text-transform: capitalize;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
    font-weight: bolder;
}

.weather-forecast-temperatures {
    font-size: 15px;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.city-details {
    text-align: center;
    margin-right: 30px;
}